body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; 
}

.header,
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: #1F2937;
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour {
    width: 100%;
    min-height: 22.5%;
}

.sectionOne {
    padding-top: 3%;
    width: 80%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 3%;
}

.headerLogo {
    font-weight: 700;
    padding-left: 50px;
    font-size: x-large;
    padding-left: 15%;
}

.headerLinks {
    font-size: small;
    margin-left: auto;
    padding-right: 50px;
    color: #e5e9eb;
    font-weight: 500;
    padding-right: 16%;

}

.hL{
    text-decoration: none;
    color: #e5e9eb;
    margin-right: 10px;
}

.sectionOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #e5e9eb;
}

.s1Text {
    width: 700px;
    height: 255px;
    margin-left: 5%;
    margin-right:2%;
}

.s1Image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 123, 132);
    width: 500px;
    height: 200px;
    margin-right: 20%;
    font-size: 14px;
}

.s1h1 {
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 20px;
}

.s1h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

.s1btn {
    background-color: #3882F6;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 6px 15px;
    text-align: center;
    color: aliceblue;
    white-space: nowrap;
  }

.sectionTwo {
    padding-top: 2%;
    padding-bottom: 6%;
}

.s2h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxImgContainer {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #3882F6;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    margin-top: 50px;
}

.boxTextContainer {
    text-align: center;
    font-size: 14px;
    max-width: 120px;
    margin: 20px;
}

.sectionThree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e9eb;
}

.s3h3 {
    width: 60%;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    font-style: italic;
}

.s3h4 {
    max-width: 60%;
    margin-left: auto;
    margin-right: 25%;
    font-weight: bolder;
}

.sectionFour {
    padding-top: 5%;
}

.s4box {
    width: 70%;
    max-width: 820px;
    min-height: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3882F6;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.s4headers {
    color: #e5e9eb;
    width: 450px;
}

.s4headers h1 {
    font-size:16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.s4headers h4 {
    font-size:14px;
}

.s4btn {
    background-color: #3882F6;
    border-radius: 8px;
    border-width: 2;
    border-style: solid;
    border-color: #e5e9eb;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    color: aliceblue;
    white-space: nowrap;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e9eb;
}